
h1, h2, h3, h4{
	font-family: 'sanfrancisco-bold';
  color: #333;
}
body{
	background-color: #f3f3f3;	
	font-family: 'sanfrancisco'!important;

}
.navbar-default{
	background-color: #E5473C;
  border-bottom: none;
}
#logo{
	font-family: 'madita';
}
p, a {font-family: 'sanfrancisco-regular';}
.panel-default{
	border: 1px solid #eee;
	background-color: #fff;
	padding-bottom: 20px;
}
.panel-body{
	padding: 15px 50px 20px!important;
	background-color: #fff;
}
.panel-heading, .panel-body, .panel-footer{
	background-color: #fff!important;
}
.panel-default > .regis{
	background-color: #fff;
	border-bottom: 1px solid #eee;
	padding: 0 50px 10px;
}

.form-control{
	background-color: #eee;
	border:none;
	box-shadow: none;
}
h3,h4{color: #d9534f!important;}
.footul{
	color: #777;
	padding:0px;
	margin:0px;
}
.footul > li{
	display: inline-block;
	padding:5px;
}
.footul > li > a{
	color:#aaa;
}
#footer{
	margin-top:20px;
	padding:0px;
	bottom: 0px;
	text-align: center;
	height: 50px;
	width: 100%;

}
.sosmed li{
		display: inline-block;
	}
a:link {
text-decoration:none;
}
.nopadding{
	padding: 0px!important;
}
.nomargin {
  margin: 0!important;
}
.date {
  font-size: 11px;
  color: #bbb;
}
#caption{
	font-family: 'opensans';
}
	.container{
		max-width:600px;
		min-height: 100%;
		padding: 0px;
	}
	.container-fluid{
		max-width: 900px;
	}

	.menu-sidebar{padding: 0;
		background-color: none;
		max-width:250px;

	}
	.menu-sidebar img{
		height:14px;
		margin-right:10px;


	}
	.menu-sidebar li{padding: 10px;
		text-align:left;

	}
	ul{
		padding:0;
	}
	li{
		list-style-type: none;
		font-size:14px;
		
	}

	.navbar-form {
		width: 100%!important;
		max-width: 250px!important;
	}
	.input-group{
		width: 100%;
		vertical-align: middle;
		white-space: nowrap;
		position: relative;
	}
	.content-idea h2{
		margin-left:8px;
		color:#444;
	}

	.content-idea{
		background-color:#fff; 
		border: 0.5px solid #f2f2f2;
		padding:15px; 
		margin-bottom:20px;
	}

	.content-idea p{
		font-size: 14px;

	}

	.create-idea{
		padding:20px 20px;
		border-radius:5px;
		background-color: #dd5f4c; 
		color:#fff;
		margin-bottom: 20px;
	}
	.icon-content li{
		display: inline;

	}
	.footer{
		text-align: right;
	}
	.footer li{
		display: inline;
		padding:5px;

	}
	.populer{

		border-radius:5px;
	}
	.populer li{
		padding:5px;
	}

	.btn-default{
		border:none !important;
		background-color: #fff!important;
		color:#aaa;
	}
	.col-sm-12{
		margin-bottom:20px;
	}
	.panel{
		border:none;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
		border-radius:10px;
	}
	.pull-left{
		padding:0px !important;

	}
	.navbar-nav i{
		font-size: 15pt;
	}

	.navbar-header{
		padding-left: 10px;
	}

	p{
		font-size:12pt;
	}
	.dropdown-menu:before{

		position: absolute;
		content: '';
		display: block;
		position: absolute;
		top: -10px;
		left: 120px;
		border-bottom: solid 10px #fff;
		border-left: solid 10px transparent;
		border-right: solid 10px transparent;
	}
	.dropdown-menu {
		border-color:#f9f9f9 !important;
		box-shadow:none!important;
	}
	.dropdown-menu li a{
		color:#aaa!important;
	}

	.more-content {display:none;}
	.visible {display:block;}

